# https://editorconfig.org/
# This configuration is used by ktlint when spotless invokes it

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true
ktlint_no-wildcard-imports=disabled
ktlint_standard_no-wildcard-imports=disabled
ktlint_standard_function-naming=disabled
ktlint_standard_function-signature=disabled